/**
	Styles common for the whole Merch Master project.
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;800&display=swap');

:root {
	--brand-color: #811411;
	--brand-color-contrast: #fff;
	--brand-color-secondary: darkorange;
	--brand-color-secondary-contrast: #fff;


	--font-family: "M PLUS Rounded 1c";
	--weight-light: 400;
	--weight-medium: 500;
	--weight-bold: 800;
}

body {
	font-family: var(--font-family), "Arial Rounded MT Bold", Arial, sans-serif;
	font-weight: var(--weight-medium);
}

strong, .strong, h1, h2, h3, h4 {
	font-weight: var(--weight-bold);
}

.light, small {
	font-weight: var(--weight-light);
}

.brand-color, h1, h2, h3, h4 {
	color: var(--brand-color);
}

a {
	font-weight: var(--weight-medium);
	color: var(--brand-color);
}

a:hover {
	text-decoration: none;
	color: var(--brand-color-secondary);
}

.btn-brand {
	border-radius: 20px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: var(--brand-color);
	border: none;
	color: var(--brand-color-contrast);
	text-transform: uppercase;
	font-weight: var(--weight-medium);
}

.btn-brand:hover,
.btn-brand:active,
.btn-brand:focus,
.btn-brand:focus-visible,
.btn-brand:active,
.btn-brand:visited {
	background-color: var(--brand-color) !important;
	color: var(--brand-color-contrast) !important;
}

.btn-brand:hover {
	text-decoration: none !important;
	background-color: var(--brand-color-secondary) !important;
	color: var(--brand-color-secondary-contrast) !important;
}

.brand-text {

	h1 {
		color: var(--brand-color) !important;
		font-weight: normal;
		font-size: 4rem;
		line-height: 4rem;
		margin: 0;
		padding: 0;
		text-transform: uppercase;

		.strong {
			font-size: 110%;
		}
	}

	&.size-sm h1 {
		font-size: 2rem;
		line-height: 2rem;
	}

	&.size-lg h1,
	&.size-xl h1 {
		font-size: 8rem;
		line-height: 8rem;
	}
}

/* DARK */

html[data-bs-theme=dark] {

	h1, h2, h3, h4 {
		color: var(--bs-body-color) !important;
	}
}
