/**
	Styles for e-shop
*/

:root {
	--shop-brand-background: #811411;
	--shop-brand-foreground: #fff;
	--shop-brand-font: "Arial, sans-serif";

	--shop-background: #fff;
	--shop-foreground: #000;
	--shop-font: "Times New Roman, serif";
	--shop-link: #0000ff;

}

.shop {
	.shop-header {
		background-color: var(--shop-brand-background);
		color: var(--shop-brand-foreground);
		font-family: var(--shop-brand-font);
		font-weight: bold;
		padding: 10px;

		.shop-name h1 {
			color: var(--shop-brand-foreground);
		}
	}

	.shop-body {
		background-color: var(--shop-background);
		color: var(--shop-foreground);
		font-family: var(--shop-font);
		padding: 10px;
	}

	a {
		color: var(--shop-link);
	}

	button {
		border: none;
		border-radius: 10px;
		padding: 5px 10px;
		background-color: var(--shop-brand-background);
		color: var(--shop-brand-foreground);
	}
}
