/**
	Styles common for the whole Merch Master project.
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;800&display=swap');

:root {
	--brand-color: #912421;

	--font-family: "M PLUS Rounded 1c";
}

body {
	font-family: var(--font-family), "Arial Rounded MT Bold", Arial, sans-serif;
	font-weight: 300;
}

strong, .strong, h1, h2, h3, h4 {
	font-weight: 800;
}

.brand-logo {

	&.size-sm h1 {
		font-size: 2rem;
		line-height: 2rem;
	}

	h1 {
		color: var(--brand-color) !important;
		font-weight: normal;
		font-size: 4rem;
		line-height: 4rem;
		margin: 0;
		padding: 0;
		text-transform: uppercase;

		.strong {
			font-size: 110%;
		}
	}
}
