:root {
	--white: #fff;
	--light-gray: rgb(222, 226, 230);
	--gray: rgb(85, 85, 85);
	--dark-gray: rgb(45, 45, 45);
	--orange: rgb(254, 127, 31);
	--red: rgb(190, 31, 31);
	--green: rgb(31, 127, 31);
	--blue: #023399;
	--light-blue: rgb(160, 160, 200);
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body, #root, .min-h-100 {
	min-height: 100vh;
}

body {

}

a, a:visited, a:active {
	text-decoration: none;
}

a.active {
	font-weight: bold;
}

.main-menu a.active {
	padding-left: 0.5rem;
}

pre {
	margin: 0;
}

.text-small {
	font-size: 85%;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-crosshair {
	cursor: crosshair;
}

.cursor-move {
	cursor: move;
}

.cursor-default {
	cursor: default;
}

.cursor-resize {
	cursor: se-resize;
}

.btn-unsaved {
	font-weight: bold;
}

.btn-unsaved::after {
	content: '*';
}

.doc-preview {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
}

.doc-preview.left {
	left: 0;
	right: auto;
}

tr.selectable.selected td {
	background-color: var(--bs-primary-bg-subtle);
}

.main-menu {
	font-size: 14pt;
}

.prevent-text-selection,
.form-switch {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* DESIGNER */

.designer .form-label {
	font-size: 75%;
	margin-top: 10px;
	margin-bottom: 0;
}

.designer .print-zone .label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 10px;
}

.designer .print-zone .label h3 {
	font-size: 100%;
	font-weight: bold;
	margin: 0;
}

.designer .print-zone .boundary {
	position: relative;
	border: dashed 3px #ffa5a5;
	overflow: hidden;
}

.designer .print-zone .boundary.resizing {
	cursor: se-resize;
}

.designer .print-zone .boundary.moving {
	cursor: move;
}

.designer .print-zone .design-file {
	position: absolute;
	border: solid 2px transparent;
	cursor: move;
}

.designer .print-zone .design-file.manipulating {
	pointer-events: none;
}

.designer .print-zone .design-file.selected {
	border: solid 2px #ff0000;
}

.designer .print-zone .design-file img {
	width: 100%;
	height: 100%;
	user-select: none;
}

.designer .print-zone .design-file .resize-button {
	position: absolute;
	color: #fff;
	background-color: #ff0000;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: se-resize;
	width: 20px;
	height: 20px;
	right: -10px;
	bottom: -10px;
}
